In [2]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

In [3]:
 
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

'Connected: @chatdata.db'

In [4]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
from google.colab import files
uploaded= files.upload()

In [5]:
comments = pd.read_csv("comments.csv")
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [6]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [ ]:
 
posts = pd.read_csv('posts.csv')
posts.to_sql('posts',con,if_exists='replace',index=False)
sql='SELECT * FROM posts'
posts=pd.read_sql(sql,con)
posts.head()

In [8]:
 
users= pd.read_csv('users.csv')
users.to_sql('users',con,if_exists='replace',index=False)
sql='SELECT * FROM users'
users=pd.read_sql(sql,con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [45]:
 
comments['Id'].duplicated().sum()

0

In [46]:
 
users['Id'].duplicated().sum()

0

In [47]:
 
posts['Id'].duplicated().sum()

0

In [25]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [ ]:
users.head()

In [ ]:
comments.columns

In [ ]:
comments.head()

In [ ]:
posts.columns

In [ ]:
posts.head()

In [9]:
 
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [10]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

In [11]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

In [12]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

In [13]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

In [14]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In [15]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

In [16]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
)

 * sqlite:///chatdata.db
Done.

[]

In [17]:
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
)

 * sqlite:///chatdata.db
Done.

[]

In [18]:
%%sql
CREATE TABLE "comments" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostId" INTEGER ,
"Score" INTEGER,
"Text" TEXT,
"CreationDate" TEXT,
"UserId" INTEGER,
FOREIGN KEY ("UserId") REFERENCES users('Id'),
FOREIGN KEY ("PostId") REFERENCES posts('Id') 
)

 * sqlite:///chatdata.db
Done.

[]

In [19]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

In [20]:
 
posts.to_sql('posts',con,if_exists='append',index=False)

In [21]:
 
comments.to_sql('comments',con,if_exists='append',index= False)

In [22]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

In [23]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

In [24]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

In [25]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

In [26]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

In [27]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

In [28]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

In [29]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

In [30]:
 
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

In [31]:
 
sql ="""
  CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
)
"""
store_query("Task 1", "Create Table Posts",sql)

In [32]:

sql= """
  CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
)
"""
store_query("Task 1","Create Table USERS",sql)

In [33]:

%%sql
SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create Table Posts', '\n  CREATE TABLE "posts" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDat ... (227 characters truncated) ... e" TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)\n'),
 ('Task 1', 'Create Table USERS', '\n  CREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TE ... (20 characters truncated) ... XT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)\n')]

In [34]:
 
%%sql
SELECT COUNT(*)FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [35]:
 
%%sql
SELECT COUNT(*)FROM users

 * sqlite:///chatdata.db
Done.

[(18412,)]

In [36]:
 
%%sql
SELECT COUNT(*)FROM posts

 * sqlite:///chatdata.db
Done.

[(42234,)]

In [54]:
 
%%sql
SELECT * from posts 
  order by random()
  limit 5

 * sqlite:///chatdata.db
Done.

[(415682, 2, 0, 415658, '2019-07-02 11:04:22', 6, 0, '<p>Neither "classification" accuracy nor the <span class="math-container">$c$</span>-index (concordance probability; AUROC) are proper accuracy scori ... (517 characters truncated) ...  statistically efficient.  See for example <a href="http://fharrell.com/post/addvalue" rel="noreferrer">http://fharrell.com/post/addvalue</a> .</p>\n', 4253, None, 0, None, None, '2019-07-02 11:04:22', None, None, 0, 0, 0, None, None),
 (401162, 2, 0, 395996, '2019-04-04 11:08:42', 2, 0, '<p>Maximum entropy principle helps you find the distribution with the highest entropy (most uncertainty, least biased) among all distributions that m ... (1283 characters truncated) ... is maximization problem.</p>\n\n<p>You can find more details in the paper of Mead and Papanicolaou "Maximum entropy in the problem of moments".</p>\n', 221502, None, 0, None, None, '2019-04-04 11:08:42', None, None, 0, 0, 0, None, None),
 (403069, 1, 0, 0, '2019-04-15 01:06:49', 0, 86, '<p>Let <span class="math-container">$p$</span> and <span class="math-container">$q$</span> be the distributions of random variables <span class="math ... (3721 characters truncated) ... iner">$g^{-1}(y) = -y$</span> would mean <span class="math-container">$g$</span> is no longer nice wrt <span class="math-container">$q$</span>.</p>\n', 26948, None, 26948, None, '2019-04-15 18:59:04', '2019-04-15 18:59:04', 'Bounding the KL divergence of a non-invertible transform of distributions', '<distributions><kullback-leibler>', 0, 2, 0, None, None),
 (403994, 1, 0, 0, '2019-04-19 17:02:32', 1, 18, "<p>So I've got this database that had people rank how much the like very light red, light red, red, dark red and very dark red cars (scale 0-10). My  ... (96 characters truncated) ... s. </p>\n\n<p>Which test should I use in stata to determine whether people like lighter red cars better than darker red cars?</p>\n\n<p>Thanks!</p>\n", 245337, None, 0, None, None, '2019-04-19 17:16:01', 'Which statistical analysis to use? Stata', '<anova><analysis>', 0, 2, 0, None, None),
 (391154, 1, 391299, 0, '2019-02-06 21:19:46', 4, 439, '<p>I have one question that is related to variational autoencoders: can they be used as a denosing algorithm in the same way as standard denosing aut ... (272 characters truncated) ... sing algorithm.</p>\n\n<p>One question that comes to my mind is if the stochasticity of the VAE would prevent me from building a good denoiser.</p>\n', 102244, None, 35989, None, '2019-02-07 14:16:29', '2019-02-07 14:29:34', 'Removing noise with Variational Autoencoders', '<machine-learning><deep-learning><autoencoders>', 1, 0, 0, None, None)]

In [55]:
 
%%sql
SELECT * from comments 
  order by random()
  limit 5

 * sqlite:///chatdata.db
Done.

[(769064, 411828, 1, 'Even though AIC and BIC are very similar, the only difference being the magnitude of penalization, the conceptual underpinnings are very different. A ... (125 characters truncated) ... esian Information Criterion (ABIC). For a better explanation of BIC, look at this paper, page 5, section 6: http://www-math.mit.edu/~rmd/650/bic.pdf.', '2019-06-06 19:16:35', 250056),
 (769712, 412228, 0, 'When, 0 < {wa1, wa2, wb1, wb2}  < 1 ,\n\nwa = [ wa1 wa2];    % where wa1+wa2 = 1;\n\nwb = [ wb1 wb2];     % where  wb1+wb2 = 1;\n\n \n\nwp = wa.*wb;  ... (294 characters truncated) ... 2_mm = wp2_mm/sum(wp_mm);\n\n \n\nw_mm = [w1_mm w2_mm];  % i.e., w1_mm+w2_mm = 1\n\n \n\nAbove is satisfied, prove the below.\n\nvar(w) > = var(w_mm)', '2019-06-09 21:42:41', 250417),
 (773454, 414398, 0, 'Should the data be transformed or normalized before deciles are calculated?', '2019-06-24 06:43:07', 75070),
 (734537, 391145, 0, 'Have a look at this answer https://math.stackexchange.com/a/102683/620244', '2019-02-07 01:42:28', 32477),
 (727857, 387513, 0, '@VincentGuillemot my question is to find $x^*$ which is $argmin_x f(x)$. The post you sent me is about $min f(x)$', '2019-01-16 12:05:06', 172131)]

In [56]:
# Run the query to select 5 random rows from the users table
# TODO
%%sql
select * from users
  order by random()
  limit 5

 * sqlite:///chatdata.db
Done.

[(96825, 133, '2015-12-02 00:37:14', 'Albert Chen', '2019-11-27 13:16:03', None, 'Boston, MA', "<p>I'm interested in:\nC,\nC++,\nJAVA,\nComputer Algorithms,\nAndroid Development,\nEmbedded System,\nCompressed sensing,\nReal Analysis,\nComplex analysis,\nLinear Algebra,\nAbstract Algebra,\nGroup Theory,\nGraph Theory</p>\n", 14, 88, 0, 'https://i.stack.imgur.com/yBjWR.jpg?s=128&g=1', 3787929),
 (235088, 11, '2019-01-23 15:44:12', 'M-H Yang', '2019-05-31 09:27:03', None, None, None, 0, 0, 0, 'https://lh5.googleusercontent.com/-hvE5BBTaBSw/AAAAAAAAAAI/AAAAAAAAAAA/AKxrwcaZDdh9qX4jBfxCt6xS8V1GvSqYOg/mo/photo.jpg?sz=128', 15073456),
 (235470, 1, '2019-01-26 21:26:06', 'xzt', '2019-08-20 02:23:52', None, None, None, 0, 0, 0, 'https://www.gravatar.com/avatar/539d7e82786e82d3482b1e4a6b5e52bd?s=128&d=identicon&r=PG&f=1', 8494149),
 (3162, 492, '2011-02-11 21:16:21', 'eipi10', '2019-11-22 22:29:58', None, 'California', '<p>Contact: eipi10jms@gmail.com</p>\n', 46, 519, 0, 'https://i.stack.imgur.com/xnGDw.jpg', 231966),
 (263625, 21, '2019-10-24 15:15:16', 'hp257', '2019-11-06 16:59:46', None, None, None, 0, 0, 0, 'https://www.gravatar.com/avatar/3660f7d6992b881d9f3db9c7b99e2472?s=128&d=identicon&r=PG&f=1', 16962879)]

In [37]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [38]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

**How many posts have 0 comments?**

In [39]:
%%sql
select count(*) from posts
where CommentCount=0

 * sqlite:///chatdata.db
Done.

[(21713,)]

In [40]:
sql="""
select count(*) from posts
where CommentCount==0
"""
store_query("Task 2","How many posts have 0 comments?",sql)

In [64]:
%%sql
select * from queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create Table Posts', '\n  CREATE TABLE "posts" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDat ... (227 characters truncated) ... e" TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)\n'),
 ('Task 1', 'Create Table USERS', '\n  CREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TE ... (20 characters truncated) ... XT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)\n'),
 ('Task 2', 'How many posts have 0 comments?', '\nselect count(*) from posts\nwhere CommentCount==0\n'),
 ('Task 2', 'How many posts have 0 comments?', '\nselect count(*) from posts\nwhere CommentCount==0\n')]

**How many posts have 1 comments?**

In [65]:
%%sql
select count(*) from posts
where CommentCount==1

 * sqlite:///chatdata.db
Done.

[(6460,)]

In [66]:
sql="""
select count(*) from posts
where CommentCount==1
"""
store_query("Task 2","How many posts have 1 comments?",sql)

**How many posts have 2 comments or more?**

In [67]:
%%sql
select count(*) from posts
where CommentCount>=2

 * sqlite:///chatdata.db
Done.

[(14061,)]

In [68]:
sql="""
select count(*) from posts
where CommentCount>=2
"""
store_query("Task 2","How many posts have 2 comments or more?",sql)

**Find the 5 posts with the highest viewcount**

In [ ]:
%%sql
 select * from posts
 order by ViewCount DESC
 LIMIT 5

In [ ]:
sql ="""
select * from posts
order by ViewCount DESC
LIMIT 5
"""
store_query("Task 2","Find the 5 posts with the highest viewcount",sql)

**Find the top 5 posts with the highest scores**

In [70]:
%%sql
select * from posts
order by Score DESC
LIMIT 5

 * sqlite:///chatdata.db
Done.

[(431397, 2, 0, 431370, '2019-10-14 14:29:36', 101, 0, '<p>Yes there is. Generally it is termed <strong>base rate fallacy</strong> or more specific <strong>false positive paradox</strong>. There is even a wikipedia article about it: <a href="https://en.wikipedia.org/wiki/Base_rate_fallacy" rel="noreferrer">see here</a></p>\n', 142976, None, 0, None, None, '2019-10-14 14:29:36', None, None, 0, 0, 0, None, None, 269),
 (394128, 2, 0, 394118, '2019-02-24 15:44:44', 100, 0, '<p>I caution against expecting strong resemblance between biological and artificial neural networks. I think the name "neural networks" is a bit dang ... (5584 characters truncated) ... l volume, diversity and resolution of the training data.</p>\n\n<p>*We don\'t presently have a tags for one-shot learning or few-shot learning.</p>\n', 22311, None, 22311, None, '2019-03-03 17:37:05', '2019-03-03 17:37:05', None, None, 0, 15, 0, None, None, 5829),
 (426878, 2, 0, 426873, '2019-09-11 23:23:31', 93, 0, '<p><strong>tl;dr</strong> Even though this is an image classification dataset, it remains a <strong>very easy</strong> task, for which one can easily ... (4424 characters truncated) ... and out more\n    frame1 = plt.gca()\n    frame1.axes.get_xaxis().set_visible(False)\n    frame1.axes.get_yaxis().set_visible(False)\n</code></pre>\n', 119015, None, 119015, None, '2019-09-13 14:02:28', '2019-09-13 14:02:28', None, None, 0, 6, 0, None, None, 4627),
 (388578, 2, 0, 388566, '2019-01-22 15:48:47', 80, 0, '<p>To me "1 in 80 deaths..." is by far the clearer statement.  The denominator in your "1 in 80" is the set of all death events and that statement ma ... (282 characters truncated) ... rence set in probability or frequency assertions like this. If you\'re talking about the proportion of deaths, then say "deaths" not "people". </p>\n', 227039, None, 0, None, None, '2019-01-22 15:48:47', None, None, 0, 11, 0, None, None, 572),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811)]

In [71]:
sql= """
select * from posts
order by Score DESC
LIMIT 5
"""
store_query("Task 2","Find the top 5 posts with the highest scores",sql)

**What are the 5 most frequent scores on posts?**

In [72]:
%%sql 
select Score, Count(Score) AS Count_score

 from posts
 group by Score
 order by Count_score Desc
 Limit 5

 * sqlite:///chatdata.db
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

In [41]:
sql="""
select Score, Count(Score) AS Count_score

 from posts
 group by Score
 order by Count_score Desc
 Limit 5
 """
store_query("Task 2","What are the 5 most frequent scores on posts?",sql)

**How many posts have the keyword "data" in their tags?**

In [42]:
%%sql
select count(*) from posts
Where Tags LIKE"%<%" and Tags like"%data%"

 * sqlite:///chatdata.db
Done.

[(2242,)]

In [75]:
sql="""
select count(*) from posts
Where Tags LIKE"%<%" and Tags like"%data%"
"""

store_query("Task 2","How many posts have the keyword data in their tags?",sql)

**What are the 5 most frequent commentcount for posts?**

In [76]:
%%sql 
select CommentCount, Count(CommentCount) AS Count_comment
 from posts
 group by CommentCount
 order by Count_comment Desc
 Limit 5

 * sqlite:///chatdata.db
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

In [77]:
sql="""
select CommentCount, Count(CommentCount) AS Count_comment
 from posts
 group by CommentCount
 order by Count_comment Desc
 Limit 5
 """
store_query("Task 2","What are the 5 most frequent commentcount for posts?",sql)

**How many posts have an accepted answer?**

In [78]:
%%sql
select count(*) from posts
where AcceptedAnswerId != 0

 * sqlite:///chatdata.db
Done.

[(5341,)]

In [79]:
sql ="""
select count(*) from posts
where AcceptedAnswerId != 0
"""
store_query("Task 2","How many posts have an accepted answer?",sql)

**What is the average,MIN,MAX reputation of table users?**

In [80]:
%%sql
select AVG(Reputation) as Average_Reputation ,
MAX(Reputation) as Max_Reputation,
MIN(Reputation) as Min_Reputation
from users

 * sqlite:///chatdata.db
Done.

[(312.3509124484032, 228662, 1)]

In [81]:
sql="""
select AVG(Reputation) as Average_Reputation ,
MAX(Reputation) as Max_Reputation,
MIN(Reputation) as Min_Reputation
from users
"""
store_query("Task 2","What is the average,MIN,MAX reputation of table users?",sql)

**What is the length of the body of 5 most viewed posts?**

In [82]:
%%sql
select Id,ViewCOUNT,Len_body from posts
order by ViewCount Desc
Limit 5

 * sqlite:///chatdata.db
Done.

[(388566, 19542, 2270),
 (394118, 16317, 512),
 (431370, 11723, 811),
 (398646, 9850, 2148),
 (434128, 6718, 1172)]

In [83]:
sql ="""
select Id,ViewCOUNT,Len_body from posts
order by ViewCount Desc
Limit 5
"""
store_query("Task 2","What is the length of the body of 5 most viewed posts?",sql)

**How many different locations are there in the users table?**

In [84]:
%%sql
select  count( Distinct Location) 
from users

 * sqlite:///chatdata.db
Done.

[(1900,)]

In [85]:
users['Location'].value_counts()

Germany                   117
India                     100
United States              69
Paris, France              66
London, United Kingdom     63
                         ...
Minnesota                   1
European Union              1
Gronigen                    1
Göteborg, Sweden            1
Belem, Brazil               1
Name: Location, Length: 1900, dtype: int64

In [86]:
sql= """
select  count(Distinct Location)
from users
"""
store_query("Task 2","How many different locations are there in the users table?",sql)

**What are the top 5 locations of users?**

In [87]:
%%sql
select  Location ,count( Location)AS Loc_count from users
GROUP BY Location 
ORDER BY count( Location) DESC
limit 5

 * sqlite:///chatdata.db
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

In [88]:
sql="""
select  Location ,count( Location)AS Loc_count from users
GROUP BY Location 
ORDER BY count( Location) DESC
limit 5
"""
store_query("Task 2","What are the top 5 locations of users?",sql)

**Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.**

In [48]:
%%sql
select
strftime('%w', CreationDate) as day_ ,
  sum(ViewCount) as sum_view ,round(sum(ViewCount)*100.0/(select sum(ViewCount)from posts ) ,2)as percentage  from posts
group by day_
order by sum(ViewCount) desc

 * sqlite:///chatdata.db
Done.

[('4', 331507, 16.82),
 ('3', 330506, 16.77),
 ('2', 320382, 16.26),
 ('1', 311546, 15.81),
 ('5', 267324, 13.56),
 ('0', 234459, 11.9),
 ('6', 175247, 8.89)]

In [90]:
sql="""
strftime('%w', CreationDate) as day_ ,
  sum(ViewCount) as sum_view ,round(sum(ViewCount)*100.0/(select sum(ViewCount)from posts ) ,2)as percentage  from posts
group by day_
order by sum(ViewCount) desc
"""
store_query("Task 2","Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.",sql)

In [91]:
%%sql
select * from queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create Table Posts', '\n  CREATE TABLE "posts" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDat ... (227 characters truncated) ... e" TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)\n'),
 ('Task 1', 'Create Table USERS', '\n  CREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TE ... (20 characters truncated) ... XT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)\n'),
 ('Task 2', 'How many posts have 0 comments?', '\nselect count(*) from posts\nwhere CommentCount==0\n'),
 ('Task 2', 'How many posts have 0 comments?', '\nselect count(*) from posts\nwhere CommentCount==0\n'),
 ('Task 2', 'How many posts have 1 comments?', '\nselect count(*) from posts\nwhere CommentCount==1\n'),
 ('Task 2', 'How many posts have 2 comments or more?', '\nselect count(*) from posts\nwhere CommentCount>=2\n'),
 ('Task 2', 'Find the top 5 posts with the highest scores', '\nselect * from posts\norder by Score DESC\nLIMIT 5\n'),
 ('Task 2', 'What are the 5 most frequent scores on posts?', '\nselect Score, Count(Score) AS Count_score\n\n from posts\n group by Score\n order by Count_score Desc\n Limit 5\n '),
 ('Task 2', 'How many posts have the keyword data in their tags?', '\nselect count(*) from posts\nWhere Tags LIKE"%<%" and Tags like"%data%"\n'),
 ('Task 2', 'What are the 5 most frequent commentcount for posts?', '\nselect CommentCount, Count(CommentCount) AS Count_comment\n from posts\n group by CommentCount\n order by Count_comment Desc\n Limit 5\n '),
 ('Task 2', 'How many posts have an accepted answer?', '\nselect count(*) from posts\nwhere AcceptedAnswerId != 0\n'),
 ('Task 2', 'What is the average,MIN,MAX reputation of table users?', '\nselect AVG(Reputation) as Average_Reputation ,\nMAX(Reputation) as Max_Reputation,\nMIN(Reputation) as Min_Reputation\nfrom users\n'),
 ('Task 2', 'What is the length of the body of 5 most viewed posts?', '\nselect Id,ViewCOUNT,Len_body from posts\norder by ViewCount Desc\nLimit 5\n'),
 ('Task 2', 'How many different locations are there in the users table?', '\nselect  count(Distinct Location)\nfrom users\n'),
 ('Task 2', 'What are the top 5 locations of users?', '\nselect  Location ,count( Location)AS Loc_count from users\nGROUP BY Location \nORDER BY count( Location) DESC\nlimit 5\n'),
 ('Task 2', 'Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.', "\nstrftime('%w', CreationDate) as day_ ,\n  sum(ViewCount) as sum_view ,round(sum(ViewCount)*100.0/(select sum(ViewCount)from posts ) ,2)as percentage  from posts\ngroup by day_\norder by sum(ViewCount) desc\n")]

**How many posts have been created by a user that has a filled out the "AboutMe" section?**

In [92]:
%%sql

select count(posts.Id)from posts,users
where users.Id =posts.OwnerUserId AND users.AboutMe is not null

 * sqlite:///chatdata.db
Done.

[(17189,)]

In [93]:
sql="""
select count(posts.Id)from posts,users
where users.Id =posts.OwnerUserId AND users.AboutMe is not null
"""
store_query("Task 3","How many posts have been created by a user that has a filled out the AboutMe  section?",sql)

**Considering only the users with an "AboutMe," how many posts are there per user?**

In [68]:
%%sql
select count(*)/(select cast(count(*)as float) from users where AboutMe!='') as posts_per_users from posts p join users u on p.OwnerUserId = u.Id where u.AboutMe !=''

 * sqlite:///chatdata.db
Done.

[(4.274807261875155,)]

In [69]:
# TODO
sql="""
select count(*)/(select cast(count(*)as float) from users where AboutMe!='') as posts_per_users from posts p join users u on p.OwnerUserId = u.Id where u.AboutMe !=''
"""
store_query("Task 3","Considering only the users with an AboutMe, how many posts are there per user?",sql)

**Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?**

In [ ]:
%%sql
select count(*) as N ,p.Id from posts p join comments c on c.PostId = p.Id
group by p.Id 
order by N DESC 
limit 10

In [67]:
sql= """
select count(*) as N ,p.Id from posts p join comments c on c.PostId = p.Id
group by p.Id 
order by N DESC 
limit 10
 """
store_query("Task 3","Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?",sql)

**What are the Top 10 posts which have the highest cummulative (post score + comment score) score?**

In [56]:
%%sql
select posts.Id,count(*) N ,comments.Score as comment_score,sum(comments.Score)+ posts.Score as cumm_score from posts,comments
where comments.PostId =posts.Id
group by posts.Id,posts.Score
order by cumm_score DESC
LIMIT 10

 * sqlite:///chatdata.db
Done.

[(394118, 24, 0, 306),
 (394128, 15, 0, 169),
 (388578, 11, 3, 141),
 (398653, 15, 1, 111),
 (388566, 15, 0, 101),
 (398646, 7, 2, 99),
 (421677, 9, 1, 96),
 (420526, 6, 1, 92),
 (400317, 5, 0, 72),
 (388582, 5, 0, 69)]

In [66]:
sql="""
select posts.Id,count(*) N ,comments.Score as comment_score,sum(comments.Score)+ posts.Score as cumm_score from posts,comments
where comments.PostId =posts.Id
group by posts.Id,posts.Score
order by cumm_score DESC
LIMIT 10
"""
store_query("Task 3","What are the Top 10 posts which have the highest cummulative (post score + comment score) score?",sql)

**Who are the top 10 users who comment the most?**

In [ ]:
%%sql
select users.Id,count(comments.Id) as com_count , users.Reputation from users,comments
WHERE users.Id = comments.UserId
group by users.Id, users.Reputation
order by count(comments.Id) desc
limit 10

In [65]:
sql="""
select users.Id,count(comments.Id) as com_count , users.Reputation from users,comments
WHERE users.Id = comments.UserId
group by users.Id, users.Reputation
order by count(comments.Id) desc
limit 10
"""
store_query("Task 3","Who are the top 10 users who comment the most?",sql)

**Who are the top 10 users who post the most?**

In [ ]:
%%sql
select posts.OwnerUserId,count(posts.Id) as post_count , users.Reputation from users,posts
WHERE users.Id = posts.OwnerUserId
group by posts.OwnerUserId, users.Reputation
order by users.Reputation desc
limit 10

In [64]:
sql="""
select posts.OwnerUserId,count(posts.Id) as post_count , users.Reputation from users,posts
WHERE users.Id = posts.OwnerUserId
group by posts.OwnerUserId, users.Reputation
order by users.Reputation desc
limit 10
"""
store_query("Task 3","Who are the top 10 users who post the most?",sql)

In [ ]:
%sql SELECT * FROM queries

In [ ]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

In [ ]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()
    
queries

In [ ]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

In [63]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ',),
 ('\nselect Score, Count(Score) AS Count_score\n\n from posts\n group by Score\n order by Count_score Desc\n Limit 5\n ',)]

In [ ]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%DISTINCT%'

In [ ]:
con.close()